.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.feature-list__content {
  @extend %flex;
  justify-content: center;
  background-color: $background-second-color;
  // width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $title-text-color;

  @media (max-width: 480px) {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .feature-list__item + .feature-list__item {
    margin-top: 30px;
  }
}
