.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.feature-list {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: 1200px) {
    display: flex;
  }
}
.feature-list__item + .feature-list__item {
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  @media (min-width: 1200px) {
    margin-left: 30px;
  }
}
.feature-list__item {
  width: 100%;
  @media (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    width: 354px;
  }
  @media (min-width: 1200px) {
    width: 270px;
  }
}
.feature-list__content {
  @extend %flex;
  justify-content: center;
  background-color: $background-second-color;
  height: 120px;
  margin-bottom: 30px;

  // @media (min-width: 768px) {
  //   width: 354px;
  // }
  // @media (min-width: 1200px) {
  //   width: 270px;
  // }
}

.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $title-text-color;

  @media (max-width: 767px) {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .feature-list__item + .feature-list__item {
    margin-top: 30px;
  }
}
