.our-team {
  background-color: $background-second-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__list {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.our-team__item + .our-team__item {
  @media (min-width: 1200px) {
    margin-left: 30px;
  }
}
.our-team__item {
  box-shadow: $box-shadow-team;
  width: 100%;
  & + & {
    @media (min-width: 480px) and (max-width: 767px) {
      margin-top: 30px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
    width: 354px;
  }
  @media (min-width: 1200px) {
    width: 270px;
  }
}

.our-team__img {
  @media (min-width: 768px) {
    width: 354px;
  }
  @media (min-width: 1200px) {
    width: 100%;
  }
}

.our-team__desc {
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-white-color;

  @media (min-width: 768px) {
    width: 354px;
  }
  @media (min-width: 1200px) {
    width: 270px;
  }
}
.our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
  color: $title-text-color;
}
.our-team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.socials {
  display: flex;
  text-align: center;
  justify-content: center;
  // width: 206px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__links {
  @extend %flex;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $primary-white-color;
    background-color: $accent-color;
  }
}
