.portfolio-nav {
  padding-top: 60px;
  padding-bottom: 60px;
}
.filter__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin-bottom: -15px;
}
.filter__button {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  text-align: center;
  padding: 6px 22px;
  display: block;
  background-color: $background-second-color;
  color: $title-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: $box-shadow-port;
  }
}
.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
  &:nth-child(n + 4) {
    margin-bottom: 0px;
  }
}
